@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

/** General **/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #313131;
}

/** Card **/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #3f3f3f;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
}

/** Icon **/
.icon {
    margin-bottom: 20px;
}

.icon img {
    width: 250px;
}

/** Content **/
.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
}

.content h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d62e;
    bottom: 4px;
    border-radius: 100px;
}

.content p {
    color: #b7b7b7;
}

/** Read More/Less Button **/
#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #06d62e;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#read_button:hover {
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

/** Active **/
.card.active .content {
    height: auto;
}

.card.active .content::before {
    visibility: hidden;
}